
POSTGRES_USER=auction_user
POSTGRES_PASSWORD=auction_password
POSTGRES_DB=auction_db
POSTGRES_PORT=5432

REDIS_PORT=6379

DATABASE_URL=postgresql://auction_user:auction_password@postgres:5432/auction_db

NEXT_PUBLIC_API_BASE_URL=http://localhost:3000